/*Mobile first approach 
with media queries to make webpage look good on larger screens
*/

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --small-margin: 1rem;

  /*primary colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /*neutral colors */
  --dark-blue: hsl(212, 21%, 14%);
  --dark-grayish: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
/*--------------------------------------BODY + GENERAL STYLES(links,button hover/focus state) ----------------------- */

body {
  font-family: "Montserrat", sans-serif; /*font Weights: 500 and 700 */
}

button {
  background-color: var(--dark-cyan);
  padding: 9px 18px;
  border-radius: 8px;
  inline-size: 100%; /*similar to width */

  font-size: inherit;
}
button:hover,
button:focus {
  /*on hover/focus the bg color gets dark so i'll reduce the lightness value  */
  background-color: hsl(158, 36%, 17%);
}

.small,
button.small {
  /*text should not get below 13px on small screens or above 20px on very large screens */
  font-size: clamp(0.69rem, 0.45rem + 1.2vw, 0.8rem);
}

a {
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}

/*----------------------------------------------------CONTAINER STYLES-------------------------------------------------  */
.container {
  background-color: var(--cream);
  padding: 1em;
}

/*-------------------------------------------------------CARD STYLES----------------------------------------------------  */
/*BUG:tiny white space on the top left and top right corners of the image(occurs on mobile and desktop) 
comment:removing the border radius on the img solves the problem.
tried adding border-radius to picture element which is the container of the image,doesn't work


solution: fixed it by changing the border-radius on the card (top left/right) from 0 0 to 10px 10px 
.card{ border-radius:10px 10px 10px 10px ;} --->fixes white space bug

*/

.card {
  background-color: var(--white);

  /* changed the top left-right value from 0 to 10px this fixes the white space bug that appeared when i added border-radius on the img 
  */
  border-radius: 10px 10px 10px 10px;
}

.card-image-container img {
  /*control the width of the mobile image it should not overflow, but if i set max-width 100%(max-inline-size) there is too much white space
  inside of the img container which is the  picture element
  */
  border-radius: 10px 10px 0 0; /*only add border-radius on the otp left and right */
  inline-size: 100%; /*same as width but logical properties are better as they adapt based on the writing mode */
}
.card > :not(picture) {
  /*targets direct children of card except picture element */
  padding: 1rem;
}
.card__capitalized-word {
  /*same as margin-bottom, i want the capitalized word to have equal spacing
  there is 1 rem of padding inside of the card, so i'll add 1rem of spacing below the capitalized word
  */
  margin-block-end: var(--small-margin);
  text-transform: uppercase;
  color: var(--dark-grayish);
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.card__title {
  margin-block-end: var(--small-margin);

  font-family: "Fraunces", serif; /*font Weight: 700 used for the big bolded title */
  font-weight: 700;
  /*at the smallest screen 320px don't go below 28px at largest it stops at 43 ish px */
  font-size: clamp(1.25rem, 1.2rem + 1.5vw, 2.5rem);
}
.card__info {
  margin-block-end: var(--small-margin);
  color: var(--dark-grayish);
  font-weight: 500;
}

.card__price-wrapper {
  margin-block-end: var(--small-margin);
  display: flex; /*put align-self start on the small text to get it above? */
  gap: 0.75rem;
}
.card__price-wrapper .green-bold {
  color: var(--dark-cyan);
  font-weight: 700;
}

.card__price-wrapper p:nth-child(1) {
  /*selects only the first p element */
  font-size: clamp(1.25rem, 1.2rem + 1.5vw, 2.5rem);
}
.card__price-wrapper p:last-child {
  /*selects only the second p element which happens to be the last child   */
  font-size: clamp(0.69rem, 0.45rem + 1.2vw, 1rem);
}

.card button {
  /*both the icon of the shopping cart and the text add to cart should be centered  */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.51em;

  color: var(--white);
}

/*-------------------------------------------------------ATTRIBUTION STYLES-------------------------------------------------------*/

.attribution {
  padding-block-start: 1rem; /*add some space at the top  */
  text-align: center;

  /*makes the attribution text more responsive by telling it to grow based on viewport width 
  but don't go above max or below min values */
  font-size: clamp(0.49rem, 0.35rem + 1vw, 0.88rem);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*-------------------------------------------------------MEDIA QUERY------------------------------------------------------- */

@media screen and (min-width: 800px) {
  /*height of body needs to fill up the page and container should fill up the body */
  html,
  body,
  .container {
    height: 100%;
  }

  .container {
    /*flex box will allow me to center both card and attribution text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    max-inline-size: 700px;
    margin-block-start: 1em; /*similar to margin top but will change based on the writing mode */

    /*puts the img and the content section next to each other */
    display: flex;
  }

  .card-image-container,
  .card-content {
    /*similar to width, makes sure both the card and the content section is 
    taking 50% of the space inside of container */
    inline-size: 50%;
  }
  .card-image-container img {
    /*similar to height, makes sure the card image is not taller than its container */
    block-size: 100%;

    /*remove the border-radius on the top right and bottom right on the image 
    i have to do it this way if i use border-top-right-radius:0; and border-bottom-right-radius:0; 
    it doesn't work it removes the image's border-radius on the bottom and on the top right
    and only keeps the border-radius on the top left
    */
    border-radius: 10px 0 0 10px; /*top left,right  bottom left,right  */
  }

  /* after reducing the max value of my clamp function from 1rem to 0.8rem(see code lines from 44 to 48),
  there is a bit too much white space  inside of the card -below the button- because the paragraph text is much smaller now.
  so i'll use flexbox to distribute the space equally */
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
